<app-a11y-toolbar></app-a11y-toolbar>

<!-- TODO #2: Código semântico -->
<div class="header">
    <div class="wrapper">
        <a [routerLink]="['/home']">
            <img class="header__logo" alt="Logo da spotify" src="assets/images/spotify.svg"/>
        </a>
        
        <!-- TODO #2: Código semântico -->
        <div class="header__nav">
            <!-- TODO #2: Código semântico -->
            <div class="block__header screen-reader--only">
                <h2 class="header__title">Menu de navegação</h2>
            </div>

            <a class="nav__link" [routerLink]="['faq']">Perguntas Frequentes</a>
            <a class="nav__link" [routerLink]="['subscription']">Cadastrar</a>
            <a class="nav__link" [routerLink]="['/download']">Download</a>
            <a class="nav__link button button--primary" [routerLink]="['discover']">Descubra sua música favorita</a>
        </div>
    </div>
</div>