<app-a11y-toolbar></app-a11y-toolbar>

<!-- TODO #2: Código semântico -->
<div class="header">
    <div class="wrapper">
        <a [routerLink]="['/home']">
            <!-- TODO #3: Mídias audio visuais acessíveis -->
            <img class="header__logo" alt="" src="assets/images/spotify.svg"/>
        </a>
        
        <!-- TODO #2: Código semântico -->
        <div class="header__nav">
            <a class="nav__link" [routerLink]="['faq']">Perguntas Frequentes</a>
            <a class="nav__link" [routerLink]="['subscription']">Cadastrar</a>
            <a class="nav__link" [routerLink]="['download']">Download</a>

            <!-- TODO #3: Conteúdo acessível -->
            <a class="nav__link button button--primary" [routerLink]="['discover']">Favorite Music Tracker</a>
        </div>
    </div>
</div>