<!-- TODO #2: Código semântico -->
<div class="block block--faq">
    <div class="wrapper column">
      <!-- TODO #2: Código semântico -->
        <div class="block__header">
          <h3 class="header__title">Perguntas frequentes</h3>
          <p class="header__subtitle">Tudo o que você precisa saber pra fazer parte desta família</p>
        </div>

        <div class="block__questions" id="main-content">
            <cdk-accordion class="accordion">
               <!-- TODO #7: Interface de usuário acessível -->
                <cdk-accordion-item  class="accordion__item"
                  #accordionFamilyPlan="cdkAccordionItem"
                  [attr.id]="['labelAccordionFamily']">
                  <div class="accordion__header" (click)="accordionFamilyPlan.toggle()">
                    <h2 class="accordion__title">Como entrar num plano família? </h2>
                  </div>
                  <div
                    class="accordion__content"
                    [style.display]="accordionFamilyPlan.expanded ? '' : 'none'"
                    [attr.id]="['accordionFamily']">
                      <p>Clique <a [routerLink]="['subscription']">aqui</a> para criar um plano família</p>
                  </div>

                  <!-- TODO #7: Interface de usuário acessível -->
                </cdk-accordion-item>
                <!-- TODO #7: Interface de usuário acessível -->
                <cdk-accordion-item #accordionFreeMonth="cdkAccordionItem" class="accordion__item"
                    [attr.id]="['labelAccordionFreeMonth']">
                    <div class="accordion__header" (click)="accordionFreeMonth.toggle()">
                      <h2 class="accordion__title">Já utilizei meu primeiro mês gratuito. E agora?</h2>
                    </div>
                    <div
                      class="accordion__content"
                      [style.display]="accordionFreeMonth.expanded ? '' : 'none'"
                      [attr.id]="['accordionFreeMonth']">
                        <p>Agora você pode optar por continuar com a assinatura por apenas R$ 59,90 ou manter a versão gratuita.</p>
                    </div>

                    <!-- TODO #7: Interface de usuário acessível -->
              </cdk-accordion-item>
            </cdk-accordion>
        </div>
    </div>
    <div class="wrapper">
      <!-- TODO #2: Código semântico -->
        <div class="block__aside">
          <a routerLink="/subscription">
            <!-- TODO #3: Mídias audio visuais acessíveis -->
            <img src="assets/images/banner-spotify.png">
          </a>
      </div>
    </div>
</div>