<section class="block block--faq">
    <div class="wrapper column">
        <header class="block__header">
          <h2 class="header__title">Perguntas frequentes</h2>
          <p class="header__subtitle">Tudo o que você precisa saber pra fazer parte desta família</p>
        </header>

        <div class="block__questions" id="main-content">
            <cdk-accordion class="accordion">
                <cdk-accordion-item class="accordion__item"
                  #accordionFamilyPlan="cdkAccordionItem"
                  [attr.aria-expanded]="accordionFamilyPlan.expanded"
                  [attr.id]="['labelAccordionFamily']">
                  
                  <div class="accordion__header" 
                  tabindex="0"
                  [attr.aria-controls]="['accordionFamily']"
                  (click)="accordionFamilyPlan.toggle()">
                    <h3 class="accordion__title">Como entrar num plano família? </h3>
                  </div>
                  <div
                    class="accordion__content"
                    [style.display]="accordionFamilyPlan.expanded ? '' : 'none'"
                    [attr.id]="['accordionFamily']">
                      <p>Clique <a [routerLink]="['subscription']">aqui</a> para criar um plano família</p>
                  </div>

                </cdk-accordion-item>
                <cdk-accordion-item #accordionFreeMonth="cdkAccordionItem" 
                [attr.aria-expanded]="accordionFreeMonth.expanded"
                class="accordion__item"
                    [attr.id]="['labelAccordionFreeMonth']">
                    <div class="accordion__header" 
                    tabindex="0"
                    [attr.aria-controls]="['accordionFreeMonth']"
                    (click)="accordionFreeMonth.toggle()">
                      <h3 class="accordion__title">Já utilizei meu primeiro mês gratuito. E agora?</h3>
                    </div>
                    <div
                      class="accordion__content"
                      [style.display]="accordionFreeMonth.expanded ? '' : 'none'"
                      [attr.id]="['accordionFreeMonth']">
                        <p>Agora você pode optar por continuar com a assinatura por apenas R$ 59,90 ou manter a versão gratuita.</p>
                    </div>
              </cdk-accordion-item>
            </cdk-accordion>
        </div>
    </div>
</section>

<aside class="block__aside">
  <div class="wrapper">
    <header class="block__header screen-reader--only">
      <h2 class="header__title">Inscreva-se grátis</h2>
    </header>

    <picture>
      <a routerLink="/subscription">
        <img src="assets/images/banner-spotify.png" alt="Uma mão segurando um celular aberto num aplicativo do spotify">
      </a>
      <figcaption class="screen-reader--only">
        <p>Eternize momentos ao som de músicas incríveis.</p>
        <p>O spotify te proporciona a melhor trilha sonora para sua vida.</p>
        <p>Inicie grátis</p>
      </figcaption>
    </picture>
  </div>
</aside>