<div class="block__faq">
    <div class="wrapper column">
        <div class="block__header">
            <h1 class="header__title">Perguntas frequentes</h1>
            <p class="header__subtitle">Com o spotify isso não é mais um problema.</p>
        </div>
        
        <div class="block__questions">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Preciso pagar o primeiro mês?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                Não! O primeiro mês é totalmente gratuito.
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Já utilizei meu primeiro mês gratuito. E agora?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                Agora você pode optar por continuar com a assinatura por apenas R$ 59,90 ou manter a versão gratuita.

            </mat-expansion-panel>
        </div>
    </div>
</div>