:root {
    
    --color-white: white;
    --color-green: #0ed151;
    // TODO #8: Contraste de cores
    --color-medium-green: #13c562;
    --color-black: black;
    --color-link: #7dd960;
    // TODO #8: Contraste de cores
    --color-orange: #ffbf4a;
    --color-medium-orange: #fff94e;
    --color-red: #f44336;
    // TODO #8: Contraste de cores
    --color-blue: #4d63ff;
    --color-medium-blue: #0018c1;
    --color-pink: #ffbaea;
    --color-medium-pink: #d50465;
    --color-link: #0ed151;
    --button-border-radius: 60px;
}