:root {
    --color-white: white;
    --color-green: #0ed151;
    --color-medium-green: #0c7f35;
    --color-black: black;
    --color-link: #7dd960;
    --color-orange: #ffcb6e;
    --color-medium-orange: #fff94e;
    --color-red: #f44336;
    --color-blue: #1330ff;
    --color-medium-blue: #0018c1;
    --color-pink: #ffbaea;
    --color-medium-pink: #d50465;
    --color-link: #0ed151;
    --button-border-radius: 60px;
}