:root {
    --color-white: white;
    --color-green: #1ed760;
    --color-medium-green: #12923f;
    --color-black: black;
    --color-link: #7dd960;
    --color-orange: #ffcb6e;
    --color-red: #f44336;
    --color-pink: #e36abe; // #e671a2;
    --block-title-color: #16297d;
    --button-border-radius: 60px;
}