.block {
    padding: {
        bottom: 3rem;
    }

    .block__header {
        margin: {
            bottom: 2rem;
        }
        text-align: center;

        &.header--internal {
            padding: 2.5rem 0;
            color: var(--color-black);
            background-color: var(--color-green);
        }
        
        .header__title {
            font-size: 1.85rem;
        }

        .header__subtitle {
            font-size: 1.2rem;
            margin-top: 1rem;
        }
    }

    .block__actions {
        margin-top: 2rem;

        .button {
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}