.button {
    line-height: 1;
    color: var(--color-white);
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Signika;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all .3s;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: var(--button-border-radius);

    &.button {
        &--primary {
            background-color: var(--color-medium-green); // var(--color-medium-green);

            &:hover {
                color: var(--color-white) !important;
                background-color: var(--color-green);
            }
        }

        &--secondary {
            background-color: var(--color-blue);

            &:hover {
                background-color: var(--color-medium-blue); 
            }
        }

        &--tertiary {
            color: var(--color-orange);
            border-color: var(--color-orange);

            &:hover {
                color: var(--color-blue);
                background-color: var(--color-orange);
            }
        }
    }
}