.block--results {
    padding-bottom: 0;
    
    .block__header {
        text-align: center;
        margin-bottom: 3rem;

        .header__title {
            font-size: 3.5rem;
        }
    }

    .resulted__songs {
        width: 100%;
    }

    .results__spotlighted {
        background-color: var(--color-pink);
        
        padding: 8rem 0;

        .block__header {
            color: var(--color-medium-pink);
        }
    }

    .results__familiar {
        margin: 7rem 0;

        .block__header {
            margin-bottom: 5rem;
        }
    }
}