.footer {
    padding: 1rem;
    background-color: var(--color-black);
    
    .footer__paragraph {
        font-size: 1rem;
        color: var(--color-white);;
        text-align: center;

        a {
            color: inherit;
        }
    }
}