<!-- TODO #2: Código semântico -->
<div class="block block--discover" id="main-content">
    <div class="wrapper column">
        <!-- TODO #2: Código semântico -->
        <div class="block__header">
            <!-- TODO #3: Conteúdo acessível -->
            <h1 class="header__title">Favorite Music Tracker</h1>
            <p class="header__subtitle">Descubra a música que mais aparece em suas playlists.</p>
        </div>
        <div class="block__form">
            <input class="form__input" class="form__input" [(ngModel)]="accountId"
            type="text" name="search" placeholder="Seu ID do spotify..."/>
            <div class="block__actions">
                <a href="http://localhost:8888/" class="button button--primary">Logar no Spotify</a>
                <!-- TODO #3: Conteúdo acessível -->
                <button role="switch"  class="button button--secondary" (click)="getFavoriteTracksFromUserPlaylists()">Descobrir</button>
            </div>
        </div>
    </div>
</div>

<!-- TODO #2: Código semântico -->
<div class="block block--instructions">
    <div class="wrapper column">
        <!-- TODO #2: Código semântico -->
        <div class="block__header">
            <h1 class="header__title">Logue com o spotify e clique em <mark>Descobrir</mark>.</h1>
        </div>

        <div *ngIf="classifiedTracks !== undefined">
            <app-search-result [tracks]="classifiedTracks"></app-search-result>
        </div>
    </div>
</div>

