<section class="block block--discover" id="main-content">
    <div class="wrapper column">
        <header class="block__header">
            <h2 class="header__title">Favorite Music Tracker</h2>
            <p class="header__subtitle">Descubra a música que mais aparece em suas playlists.</p>
        </header>
        <div class="block__form">
            <input class="form__input" class="form__input" [(ngModel)]="accountId"
            type="text" name="search"/>

            <footer class="block__actions">
                <a href="http://localhost:8888/" class="button button--primary">Logar no Spotify</a>
                <button  class="button button--secondary" (click)="getFavoriteTracksFromUserPlaylists()">Descobrir sua música favorita</button>
            </footer>
        </div>
    </div>
</section>

<section class="block block--instructions">
    <div class="wrapper column">
        <header class="block__header">
            <h2 class="header__title">Logue com o spotify e clique em <mark>Descobrir</mark>.</h2>
        </header>

        <div *ngIf="classifiedTracks !== undefined">
            <app-search-result [tracks]="classifiedTracks"></app-search-result>
        </div>
    </div>
</section>

