.block--discover {
    padding: {
        top: 8rem;
        bottom: 8drem;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: {
        color: #2941ab;
        image: url(../../assets/images/favorite-music-tracker-bg.webp);
    }

    .block__header {
        text-align: center;
        margin-bottom: 2rem;
        color: #fff;
    
        .header__title {
            font-size: 4.5rem;
            margin-bottom: 1rem;
        }
    
        .header__subtitle {
            font-size: 1.5em;
        }
    }

    .block__form {
        &::-webkit-input-placeholder { 
            font-size: 1em;
        }

        .form__input {
            border: 0;
            width: 100%;
            padding: 1rem;
            border-radius: var(--default-border-radius);
            font-size: 1.2em;
        }

        .form__actions {
            display: flex;
            margin-top: 2em;
        }

        .button--primary {
            flex: 1;
            margin-left: 1em;
        }
    }
}

.block--instructions {
    padding: {
        top: 8rem;
        bottom: 8rem;
    }
    text-align: center;
    background-color: var(--color-white);

    .block__header {
        .header__title {
            font-size: 3rem;

            mark {
                border-radius: 4px;
                padding: 0.2rem 0.8rem;
                color: var(--color-white);
                background-color: var(--color-black);
            }
        }
    }
}
