<!-- TODO #2: Código semântico -->
<div class="block block--subscription">
    <!-- TODO #2: Código semântico -->
    <div class="block__header">
        <h3 class="header__title">Inscreva-se grátis e comece a curtir.</h3>
        <p class="header__subtitle">O primeiro mês é por nossa conta. =)</p>
    </div>
    
   <div class="wrapper column">
        <form class="form--subscription" [formGroup]="subscriptionForm" (ngSubmit)="registerNewUser()">
            <div class="form__group">
                <!-- TODO #6: Formulário acessível -->
                <label class="input__label">Nome</label>
                <input type="text" id="name" 
                class="form__input" formControlName="name">
            </div>
            <div class="form__group">
                <!-- TODO #6: Formulário acessível -->
                <label class="input__label">E-mail</label>
                <input type="text" name="email" id="email" class="form__input" formControlName="email">
            </div>
            <div class="form__group">
                <!-- TODO #6: Formulário acessível -->
                <label class="input__label">Senha</label>
                <input type="password" name="secretKeyword"  id="secretKeyword" 
                class="form__input" formControlName="secretKeyword">
            </div>
            <div class="form__group">
                <label class="input__label">Plano</label>

                <!-- TODO #6: Formulário acessível -->
                
                <mat-form-field appearance="fill" class="group__select">
                    <mat-label id="plan-description">Qual plano você deseja contratar?</mat-label>
                    <mat-select id="plan" aria-label="plan-label" aria-labelledby="plan-description" formControlName="plan">
                        <mat-option>Nenhum</mat-option>
                        <mat-option *ngFor="let plan of plans" [value]="plan">{{ plan }}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="form__group">
                <label class="input__label">Gênero</label>
                <!-- TODO #6: Formulário acessível -->
                <mat-radio-group class="genders__options" formControlName="gender">
                    <mat-radio-button class="option__gender" *ngFor="let gender of genders" [value]="gender">
                        {{ gender }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- TODO #2: Código semântico -->
            <div class="form__actions">
                <button class="button button--primary" type="submit">Cadastrar</button>
            </div>
        </form>
   </div>
</div>