<section class="block block--subscription">
    <header class="block__header">
        <h2 class="header__title">Inscreva-se grátis e comece a curtir.</h2>
        <p class="header__subtitle">O primeiro mês é por nossa conta. =)</p>
    </header>
    
   <div class="wrapper column">
        <form class="form--subscription" [formGroup]="subscriptionForm" (ngSubmit)="registerNewUser()">
            <div class="form__group">
                <label class="input__label" for="name">Nome</label>
                <input type="text" placeholder="Digite seu nome..." id="name" 
                class="form__input" formControlName="name" aria-describedby="error-name">
                <mat-icon>person</mat-icon>
                <mat-error id="error-name" *ngIf="form['name'].touched && form['name']?.errors">O campo é obrigatório</mat-error>
            </div>
            <div class="form__group">
                <label class="input__label" for="email">E-mail</label>
                <input type="email" placeholder="Informe seu e-mail..."
                name="email" id="email" class="form__input" formControlName="email">
                <mat-icon>alternate_email</mat-icon>
                <mat-hint>Informe um e-mail no formato usuario@dominio.com.br</mat-hint>
                <mat-error *ngIf="form['email'].touched && form['email']?.errors!['email']">O e-mail não é válido.</mat-error>
                <mat-error *ngIf="form['email'].touched && form['email']?.errors!['required']">O campo é obrigatório</mat-error>
            </div>
            <div class="form__group">
                <label class="input__label" for="secretKeyword">Senha</label>
                <input type="password" placeholder="Digite uma senha..." 
                name="secretKeyword"  id="secretKeyword" class="form__input" formControlName="secretKeyword">
                <mat-icon>lock</mat-icon>
                <mat-error *ngIf="form['secretKeyword'].touched && form['secretKeyword']?.errors">O campo é obrigatório</mat-error>
            </div>
            <div class="form__group">
                <label class="input__label" for="plan">Plano</label>
                
                <mat-form-field appearance="fill" class="group__select">
                    <mat-label id="plan-description">Qual plano você deseja contratar?</mat-label>
                    <mat-select id="plan" aria-label="plan-label" aria-labelledby="plan-description" formControlName="plan">
                        <mat-option>Nenhum</mat-option>
                        <mat-option *ngFor="let plan of plans" [value]="plan">{{ plan }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-error *ngIf="form['plan']?.touched && form['plan']?.errors">O campo é obrigatório</mat-error>
            </div>
            <div class="form__group">
                    <mat-radio-group class="genders__options" formControlName="gender">
                    <mat-radio-button class="option__gender" *ngFor="let gender of genders" [value]="gender">
                        {{ gender }}
                    </mat-radio-button>
                </mat-radio-group>

                <mat-error *ngIf="form['gender']?.touched && form['gender']?.errors">O campo é obrigatório</mat-error>
            </div>

            <footer class="form__actions">
                <button class="button button--primary" type="submit">Cadastrar</button>
            </footer>
        </form>
   </div>
</section>