.block--subscription {
    padding: {
        top: 3rem;
        bottom: 4rem;
    };
    
    .form--subscription {
        margin: 0 auto;
        display: block;
        min-width: 450px;
    
        .input__label {
            display: block;
            margin-bottom: 0.65rem;
        }

        .mat-error,
        .mat-hint {
            margin-top: 10px;
        }

        .mat-icon {
            top: 44px;
            right: 15px;
            position: absolute;
        }

        .mat-hint {
            display: inline-block;
        }
    
        .form__input {
            width: 100%;
            padding: 1rem;
            font-size: 1rem;
            position: relative;
            border-radius: 4px;
            border: 1px solid var(--color-black);

            &.ng-touched {
                &.ng-invalid {
                    border-color: var(--color-red);
                }

                &.ng-invalid,
                & + .mat-icon {
                    color: var(--color-red);
                }
            }
        }
    
        .form__group { 
            margin-bottom: 1rem;
            position: relative;
        }

        .form__actions {
            margin-top: 2rem;
            text-align: center;
        }

        .group__select {
            width: 100%;
            display: block;
        }

        .genders__options {
            .option__gender {
                margin-right: 1rem;
            }
        }
    }
}

:host {
    mat-form-field {
        width: 100%;
    }
}