<section class="block--premium">
    <div class="wrapper column">
        <header class="block__header">
            <h2 class="header__title">Escolha seu plano</h2>
            <p class="header__subtitle">Ouça sem limites no seu celular, alto-falante e em outros dispositivos.</p>
        </header>

        <div class="premium__plans">
            <mat-card class="block__plan">
                <mat-card-header>
                  <mat-card-title>Plano Família</mat-card-title>
                  <mat-card-subtitle>R$ 14,90/mês</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                 <ul class="plan__benefits">
                    <li>TAnto faz</li>
                    <li>TAnto faz</li>
                    <li>TAnto faz</li>
                    <li>TAnto faz</li>
                    <li>TAnto faz</li>
                 </ul>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Começar</button>
                </mat-card-actions>
            </mat-card>
            
        </div>
    </div>
</section>