.block--premium {
    padding: 2rem 0;

    .wrapper {
        & > div,
        & > header {
            width: 100%;
        }
    }

    .block__header {
        text-align: center;
    }

    .premium__plans {
        display: flex;
        margin-top: 2rem;
        justify-content: space-around;
    }
}