<nav class="toolbar">
    <header class="screen-reader--only">
        <h2>Ferramentas de acessibilidade</h2>
    </header>
    <div class="wrapper">
        <a class="toolbar__link link--content" href="#mainContent">
            <mat-icon>accessible</mat-icon>
            <span>Ir para conteúdo</span>
        </a>
        <a tabindex="0" class="toolbar__link" (click)="decreaseFontSize()"><mat-icon>text_decrease</mat-icon>
            <span class="screen-reader--only">Diminuir fonte</span>
        </a>
        <a  tabindex="0" class="toolbar__link" (click)="increaseFontSize()"><mat-icon>text_increase</mat-icon>
            <span class="screen-reader--only">Aumentar fonte</span>
        </a>
        <button [attr.aria-checked]="isHighContrastEnabled" class="toolbar__link" (click)="toggleLightMode()"><mat-icon>light_mode</mat-icon>
            <span class="screen-reader--only">{{ highContrastAction }} o modo alto contraste</span>
        </button>
    </div>
</nav>