<div class="toolbar">
    <div class="screen-reader--only">
        <h2>Ferramentas de acessibilidade</h2>
    </div>
    <div class="wrapper">
        <a class="toolbar__link link--content" [href]="skipLinkPath">
            <span>Pular para conteúdo</span>
        </a>
        <a tabindex="0" class="toolbar__link"><mat-icon>text_decrease</mat-icon>
            <span class="screen-reader--only">Diminuir fonte</span>
        </a>
        <a  tabindex="0" class="toolbar__link"><mat-icon>text_increase</mat-icon>
            <span class="screen-reader--only">Aumentar fonte</span>
        </a>
        <button class="toolbar__link" (click)="toggleContrastMode()"><mat-icon>light_mode</mat-icon>
            <span class="screen-reader--only">{{ highContrastAction }} o modo alto contraste</span>
        </button>
    </div>
</div>