<section class="home" id="main-content">
    <div class="block block--hero">
        <div class="wrapper">
            <div class="colum">
                <header class="block__header">
                    <h2 class="header__title">Magia nos seus fones de ouvido.</h2>
                </header>
                <div class="block__actions">
                    <a class="button button--secondary" routerLink="/download">Baixar gratuitamente</a>
                </div>
            </div>
            <div class="colum">
                <div class="block__image">
                    <img src="assets/images/bg-home.png" alt="O aplicativo do spotify aberto em um iPhone, apresentando a biblioteca de uma usuária">
                </div>
            </div>
        </div>
    </div>
    <div class="block block--video">
        <div class="wrapper">
            <div class="column">
                <video class="video__player" controls>
                    <source src="assets/media/intro.mp4">
                    <track src="assets/media/intro.vtt" srclang="pt-br"/>
                </video>
            </div>

            <div class="column">
                <header class="block__header">
                    <h2 class="header__title">Seus vizinhos te incomodam?</h2>
                    <h3 class="header__subtitle">Com o spotify isso não é mais um problema.</h3>
                </header>

                <footer class="block__actions">
                    <a class="button button--tertiary" routerLink="/subscription">Cadastre-se</a>
                </footer>
            </div>
        </div>
    </div>
</section>