.home {
    .block--hero {
        padding-bottom: 0;
        overflow: hidden;
        position: relative;
        padding-top: 2rem;
        min-height: calc(100vh - 80px);
        background-color: var(--color-orange);

        &:before {
            top: -65px;
            left: -65px;
            content: "";
            width: 400px;
            height: 400px;
            border-radius: 100%;
            position: absolute;
            background-color: var(--color-blue);
        }

        .block__image {
            margin-left: 3rem;
    
            img {
                max-width: 600px;
            }
        }
    
        .block__header {
            text-align: left;

            .header__title {
                font-size: 4rem;
                color: var(--color-blue);
            }
        }   
    }
    
    .block--video {
        background-color: var(--color-blue);
        padding: {
            top: 6rem;
            bottom: 6rem;
        }
    
        .block__header {
            margin-bottom: 3rem;
            color: var(--color-orange);
            text-align: right;
    
            .header__title {
                line-height: 1;
                font-size: 3.5rem;
                margin-bottom: 1rem;
            }
    
            .header__subtitle {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    
        .video__player {
            max-width: 750px;
            margin-right: 3rem;
            border-radius: 4px;
        }
    
        .block__actions {
            text-align: right;

            .button {
                color: var(--color-orange);
                border-color: var(--color-orange);

                &:hover {
                    color: var(--color-blue);
                    background-color: var(--color-orange);
                }
            }
        }
    }
}


